@import "theme_defult";
@import "mixins";

h1{
	color:$color-red;
	text-transform: capitalize;
	font-weight: $fweight;
}
.main{
	width: 1000px;
	margin: auto;
}
 ul{
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		display: inline-block;
		position: relative;

		a{
			background-color:$bg-black;
			color: $color-white;
			padding: 10px 15px;
			text-decoration: none;
			text-transform: uppercase; 
			display: block;
			@include transition_time(.5s);
			@include bd_raious(6px);
			
		}
		&:hover >a{
				color: $color-red;
				background-color: $color-white;

		}
		&:hover ul.submenu{
		opacity: 1;
		visibility: visible;
		top: 105%;
		left: 0;
		@include bd_raious(6px);
		}


	}
		ul.submenu{
		position: absolute;
		width: 100px;	
		top: 110%;
		left: 0;
		visibility: hidden;
		opacity:0;
			li{
				display: block;
				a{
			 	padding: 10px 10px;
			 	font-size: 10px;
				}

			}

		}

		.mega-menu{
			position: absolute;
			left: 0;
			top: 130%;
			width: 600px;
			@include transition_time(.3s);
			visibility: hidden;
			opacity: 0;
			ul{
				width: 33.33%;
				float: left;
				li{
					display: block;
					a{
						padding: 5px 10px;
						text-transform: capitalize;
					}
				}
			}
			
		}
		li:hover .mega-menu{
			opacity: 1;
			visibility: visible;
			top: 105%;
			left: 0;
			@include transition_time(.3s);
			@include bd_raious(6px);
		}

	

}